<form class="form-horizontal">
    <div class="control-group-header">
        <h3>GPIOStatus</h3>
    </div>

    <div class="control-group">
        This screen has been moved <a href="/#tab_plugin_gpiostatus">here</a>
        (exit from this window after clicking).
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"
                       data-bind="checked: settingsViewModel.settings.plugins.gpiostatus.reload_on_check_change">
                {{ _("Reload completely the data whenever a checkbox state is changed") }}
            </label>
        </div>
    </div>
</form>