<div class="row-fluid">

    <div class="tabbable">

        <h3>GPIO Status</h3>
        <div class="control-group">
            <table class="loading-button-table">
                <tr>
                    <td>
                        <input type="button" class="btn btn-primary" data-bind="click: refresh" value="Refresh">
                    </td>
                    <td>
                        <label class="update-label">Last on <span data-bind="text: updated_hour">-</span></label>
                    </td>
                </tr>
            </table>
        </div>

        <div class="control-group notification" data-bind="html: notification">

        </div>

        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a data-toggle="tab" href="#gpiostatus_gpio_status">GPIO</a></li>
            <li><a data-toggle="tab" href="#gpiostatus_services">Services</a></li>
            <li><a data-toggle="tab" href="#gpiostatus_funcs">Functionalities</a></li>
            <li><a data-toggle="tab" href="#gpiostatus_hw">Hardware</a></li>
        </ul>

        <div class="tab-content">
            <div id="gpiostatus_gpio_status" class="tab-pane active">
                <div class="control-group">
                    <table class="check-table" data-bind="css: {'check-table-loading': loading_state()}">
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox"
                                           data-bind="checked: gpiostatus.compact_view,
                                                      event: {change: compactUpdated},
                                                      enable: !loading_state()">
                                    Compact view
                                </label>
                            </td>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox"
                                           data-bind="checked: gpiostatus.hide_special_pins,
                                                      event: {change: hideSpecialUpdated},
                                                      enable: !loading_state()">
                                    Hide special pins
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox"
                                           data-bind="checked: gpiostatus.order_by_name,
                                                      event: {change: orderByUpdated},
                                                      enable: !loading_state()">
                                    Order by name
                                </label>
                            </td>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox"
                                           data-bind="checked: gpiostatus.hide_physical,
                                                      event: {change: hidePhysicalUpdated},
                                                      enable: !loading_state()">
                                    Hide physical pin
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="control-group">
                    <table id="gpio_status_table"
                           class="table table-condensed table-hover table-striped"
                           data-bind="css: { 'table-compact': gpiostatus.compact_view(),
                                             'table-uncompact': !gpiostatus.compact_view(),
                                             'hide-physical-compact': gpiostatus.hide_physical() &&
                                                                      gpiostatus.compact_view(),
                                             'hide-physical-uncompact': gpiostatus.hide_physical() &&
                                                                        !gpiostatus.compact_view()
                                           }">
                        <thead>
                        <tr>
                            <td>Name</td>
                            <td>Function</td>
                            <td>Pull</td>
                            <td>Voltage</td>
                            <td data-bind="
                                attr: { colspan: gpiostatus.hide_physical() ? 2 : 4 },
                                css: {
                                    'long-physical': !gpiostatus.hide_physical(),
                                    'short-physical': gpiostatus.hide_physical()
                                }">
                                Physical
                            </td>
                            <td>Image</td>
                            <td>Physical</td>
                            <td>Name</td>
                            <td>Function</td>
                            <td>Pull</td>
                            <td>Voltage</td>
                        </tr>
                        </thead>
                        <tbody data-bind="html: gpio_table">
                        <!-- GPIO data -->
                        </tbody>
                    </table>
                </div>

                <div class="control-group">
                    This plugin doesn't know which pins are in use and which are free, since
                    its purpose is to just show their state.<br>
                    Check this <a href="/plugin/gpiostatus/static/img/Raspberry.jpg" target="_blank">Image</a>
                    to know how <b>physical</b> pins are defined.
                </div>

                <div class="control-group">
                    <h4>Legend</h4>
                    <ul>
                        <li><b>Physical</b>:
                            this is the physical pin name, according to the image below.
                        </li>
                        <li><b>Name</b>:
                            this is the pin BCM name, if available, or its role otherwise.
                        </li>
                        <li><b>Function</b>:
                            this is the pin functionality, usually input (<i>IN</i>) or output
                            (<i>OUT</i>). In the case a service, SPI or I2C, is using it, this
                            column will show its role.
                        </li>
                        <li><b>Pull</b>
                            this is the current pull currently set on the pin and can be set as
                            <i>pull-up</i> or <i>pull-down</i>.
                        </li>
                        <li><b>Voltage</b>
                            this is the current voltage sensed in the pin and, since they're digital
                            it can be just high or low. It can obviously differ by the pull.
                        </li>
                    </ul>
                </div>
            </div>

            <div id="gpiostatus_services" class="tab-pane">
                <div class="control-group">
                    <table class="table table-condensed table-hover table-striped table-services">
                        <thead>
                        <tr>
                            <td>Service</td>
                            <td>Status</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Camera</td>
                            <td data-bind="text: camera_status,
                                    css: { 'label-enabled': camera_status() == 'enabled',
                                           'label-disabled': camera_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>SSH</td>
                            <td data-bind="text: ssh_status,
                                    css: { 'label-enabled': ssh_status() == 'enabled',
                                           'label-disabled': ssh_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>SPI</td>
                            <td data-bind="text: spi_status,
                                    css: { 'label-enabled': spi_status() == 'enabled',
                                           'label-disabled': spi_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>I2C</td>
                            <td data-bind="text: i2c_status,
                                    css: { 'label-enabled': i2c_status() == 'enabled',
                                           'label-disabled': i2c_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>Serial</td>
                            <td data-bind="text: serial_status,
                                    css: { 'label-enabled': serial_status() == 'enabled',
                                           'label-disabled': serial_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>Hardware Serial</td>
                            <td data-bind="text: serial_hw_status,
                                    css: { 'label-enabled': serial_hw_status() == 'enabled',
                                           'label-disabled': serial_hw_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>1-wire</td>
                            <td data-bind="text: one_wire_status,
                                    css: { 'label-enabled': one_wire_status() == 'enabled',
                                           'label-disabled': one_wire_status() == 'disabled'}"></td>
                        </tr>
                        <tr>
                            <td>Remote GPIO</td>
                            <td data-bind="text: rgpio_status,
                                    css: { 'label-enabled': rgpio_status() == 'enabled',
                                           'label-disabled': rgpio_status() == 'disabled'}"></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            <div id="gpiostatus_funcs" class="tab-pane">
                <div class="control-group">
                    The pins <b>GPIO0</b> and <b>GPIO1</b> cannot be used, since they're system reserved.<br>
                    Legend: <span class="td_i2c">I2C</span> and <span class="td_spi">SPI</span>.
                </div>

                <div class="control-group">
                    <table class="table table-condensed table-hover table-striped table-funcs">
                        <thead>
                        <tr>
                            <td>BCM Pin</td>
                            <td>ALT0</td>
                            <td>ALT1</td>
                            <td>ALT2</td>
                            <td>ALT3</td>
                            <td>ALT4</td>
                            <td>ALT5</td>
                        </tr>
                        </thead>
                        <tbody data-bind="html: funcs_table">
                        <!-- Func data -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="gpiostatus_hw" class="tab-pane">
                <div class="control-group">
                    <table class="table table-condensed table-hover table-striped table-services table-hw">
                        <thead>
                        <tr>
                            <td>Resource</td>
                            <td>Value</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Model</td>
                            <td data-bind="text: model_value"></td>
                        </tr>
                        <tr>
                            <td>Revision</td>
                            <td data-bind="text: revision_value"></td>
                        </tr>
                        <tr>
                            <td>PCB Revision</td>
                            <td data-bind="text: pcb_revision_value"></td>
                        </tr>
                        <tr>
                            <td>Released</td>
                            <td data-bind="text: released_value"></td>
                        </tr>
                        <tr>
                            <td>Manufacturer</td>
                            <td data-bind="text: manufacturer_value"></td>
                        </tr>
                        <tr>
                            <td>SOC</td>
                            <td data-bind="text: soc_value"></td>
                        </tr>
                        <tr>
                            <td>Storage</td>
                            <td data-bind="text: storage_value"></td>
                        </tr>
                        <tr>
                            <td>USB</td>
                            <td data-bind="text: usb_value"></td>
                        </tr>
                        <tr>
                            <td>USB 3.0</td>
                            <td data-bind="text: usb3_value"></td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td data-bind="text: memory_value"></td>
                        </tr>
                        <tr>
                            <td>Ethernet speed</td>
                            <td data-bind="text: eth_speed_value"></td>
                        </tr>
                        <tr>
                            <td>Ethernet</td>
                            <td data-bind="text: ethernet_value"></td>
                        </tr>
                        <tr>
                            <td>WiFI</td>
                            <td data-bind="text: wifi_value"></td>
                        </tr>
                        <tr>
                            <td>Bluetooth</td>
                            <td data-bind="text: bluetooth_value"></td>
                        </tr>
                        <tr>
                            <td>CSI (port for camera)</td>
                            <td data-bind="text: csi_value"></td>
                        </tr>
                        <tr>
                            <td>DSI (port for display)</td>
                            <td data-bind="text: dsi_value"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>