
.notification {
    text-align: center;
    font-weight: bold;
    color: #FF0000;
}

.notification i {
    font-family: Monospaced, serif;
}

.loading-button-table {
    width: 100%;
}

.loading-button-table tr td:nth-child(1) {
    width: 15%;
}

.loading-button-table tr td:nth-child(2),
.loading-button-table tr td:nth-child(3) {
    vertical-align: bottom;
}

.loading-button-table tr td:nth-child(3) {
    text-align: right;
    font-weight: bold;
}

.animation-for-saving {
    animation-name: saving-icon-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes saving-icon-animation {
    from {
        text-shadow: inherit;
    }
    to {
        text-shadow: 0 0 5px #0AF;
    }
}

.table-compact,
.table-uncompact {

}

.table-compact thead tr td,
.table-uncompact thead tr td {
    text-align: center;
    font-weight: bold;
}

.table-compact tbody tr td:nth-child(1),
.table-compact tbody tr td:nth-child(2),
.table-compact tbody tr td:nth-child(3),
.table-compact tbody tr td:nth-child(4) {
    text-align: right;
}

.table-compact tbody tr td:nth-child(5),
.table-compact tbody tr td:nth-child(6),
.table-compact tbody tr td:nth-child(7),
.table-compact tbody tr td:nth-child(8) {
    width: 100%;
}

.one-more-right tbody tr td:nth-child(5),
.two-more-right tbody tr td:nth-child(6) {
    text-align: right;
}

.table-compact thead tr .long-physical {
    width: 101px;
}

.table-compact thead tr .short-physical {
    width: 55px;
}

.table-uncompact tbody tr td span:focus {
    outline: none;
}

.table-uncompact tbody tr td {
    text-align: center;
}

.padding-top {
    padding-top: 5px;
}

.label-enabled {
    color: #00FF00;
    font-weight: bold;
}

.label-disabled {
    color: #FF0000;
    font-weight: bold;
}

.label-undefined {
    color: #00AAFF;
    font-weight: bold;
}

.td_physical {
    font-family: monospaced, serif;
}

.td_gnd {
    font-weight: bold;
    color: black;
}

.td_5v {
    font-weight: bold;
    color: #FF0000;
}

.td_3v3 {
    font-weight: bold;
    color: #FFAA00;
}

.td_in {
    color: #00AAFF;
}

.td_out {
    color: #FF5500;
}

.td_pull_up {
    color: #00FF00;
}

.td_pull_down {
    color: #FF00FF;
}

.td_high {
    color: #FF0000;
}

.td_low {
    color: #0000FF;
}

.td_img {
    width: 17px;
    height: 17px;
}

.td_spi {
    color: #FF0000;
    font-weight: bold;
}

.td_i2c {
    color: #0000FF;
    font-weight: bold;
}

.table-services thead tr td,
.table-funcs thead tr td {
    font-weight: bold;
}

.table-services thead tr td:nth-child(1),
.table-services tbody tr td:nth-child(1) {
    text-align: right;
}

.table-services thead tr td:nth-child(2),
.table-services tbody tr td:nth-child(2) {
    text-align: left;
}

.table-funcs thead tr td {
    text-align: left;
}

.table-funcs tbody tr td:nth-child(1) {
    font-weight: bold;
}

.table-hw tbody tr td:nth-child(2) {
    color: #00AAFF;
}

.raspberry-image {
    width: 80%;
    padding-top: 5%;
}

.check-table {
    width: 100%;
    border-radius: 10px;
}

.check-table td {
    padding-left: 10%;
}

.check-table-loading {
    background-color: #F1F1FF;
}